<h1 class="text-center text-7xl pt-5">Estadisticas</h1>
<section
  class="flex flex-col justify-center items-center flex-wrap max-w-7xl m-auto mt-5 mb-5"
>
  <div class="flex justify-center items-center">
    <img
      class="rounded-full border-4 w-72 border-gray-500 box-border"
      src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg"
      alt=""
    />
  </div>
  <div
    class="flex gap-5 min-w-2xs bg-card-presentation max-w-4xs text-black py -3 w-2/4"
  >
    <div>
      <h2 class="text-2xl">
        <span class="text-xl text-gray-500">Nombre de usuario:</span>
        <br />Sandias
      </h2>
    </div>
    <div class="w-0.5 h-20 bg-gray-200"></div>
    <div>
      <h2 class="text-2xl bold">
        <span class="text-xl text-gray-500">Fecha de creacion de cuenta:</span>
        <br />12/10/2025
      </h2>
    </div>
  </div>
</section>
<hr class="border-b-2 border-color-about w-1/2 m-auto border-solid" />
<section class="flex flex-col justify-center items-center my-5 gap-3">
  <h3 class="text-3xl font-bold mb-1">Puntajes Mas Altos en juegos</h3>
  <div
    class="min-w-2xs w-xs p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      EL AHORCADO
    </h2>
    <p>Fecha de obtencion: 12/20/2005</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Puntaje: 4000 puntos
    </p>
  </div>
  <div
    class="min-w-2xs w-xs p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      MAYOR O MENOR
    </h2>
    <p>Fecha de obtencion: 12/20/2005</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Puntaje: 4000 puntos
    </p>
  </div>
  <div
    class="min-w-2xs w-xs p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      PREGUNTADOS
    </h2>
    <p>Fecha de obtencion: 12/20/2005</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Puntaje: 4000 puntos
    </p>
  </div>
  <div
    class="min-w-2xs w-xs p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      BUSQUEDA DEL TESORO
    </h2>
    <p>Fecha de obtencion: 12/20/2005</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Puntaje: 4000 puntos
    </p>
  </div>
</section>
<hr class="border-b-2 border-color-about w-1/2 m-auto border-solid" />
